<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>MovieApi</display-name>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>filter.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>romancesServlet</servlet-name>
    <servlet-class>servlets.RomancesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>romancesServlet</servlet-name>
    <url-pattern>/romances</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>comedyServlet</servlet-name>
    <servlet-class>servlets.ComedyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comedyServlet</servlet-name>
    <url-pattern>/comedy</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>documentariesServlet</servlet-name>
    <servlet-class>servlets.DocumentariesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>documentariesServlet</servlet-name>
    <url-pattern>/documentaries</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>netflixOriginalsServlet</servlet-name>
    <servlet-class>servlets.NetflixOriginalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>netflixOriginalsServlet</servlet-name>
    <url-pattern>/netflixoriginals</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>topRatedServlet</servlet-name>
    <servlet-class>servlets.TopRatedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>topRatedServlet</servlet-name>
    <url-pattern>/toprated</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>trendingServlet</servlet-name>
    <servlet-class>servlets.TrendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trendingServlet</servlet-name>
    <url-pattern>/trending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/netflix/Register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/netflix/Login</url-pattern>
  </servlet-mapping>


</web-app>
